<%= form_with(model: blocked_date) do |form| %>
  <% if blocked_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blocked_date.errors.count, "error") %> prohibited this blocked_date from being saved:</h2>

      <ul>
        <% blocked_date.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :date_range, class: 'invisible', data: { behavior: "flatpickr" } %>
  </div>


  <div class="field">
    <%= form.hidden_field :user_id, class: 'form-control', value: "#{current_user.id}" %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="field mt-4">
        <%= form.submit 'Save', class: 'btn btn-success btn-block' %>
      </div>
    </div>
  </div>

<% end %>

<script>
    document.addEventListener("turbolinks:load", () => {
        flatpickr("[data-behavior='flatpickr']", {
            altInput: true,
            inline: true,
            altFormat: "F j, Y",
            dateFormat: "d-m-Y",
            mode: "range",
            minDate: "today",
            disable: <%= raw @formatted_blocked_dates.to_json %>,
        })
    })
</script>